@font-face {
  font-family: racingsansone-regular;
  src: url("/fonts/racingsansone-regular.ttf");
}
@font-face {
  font-family: mvboli;
  src: url("/fonts/mvboli.otf");
}
@font-face {
  font-family: Segoe-Print;
  src: url("/fonts/Segoe-Print.otf");
}

.navbar .navbar-left .site-name{
	font-family: 'racingsansone-regular';
}

.page .blog-hero .description{
	font-family: 'Segoe-Print';
}

.page .blog-hero .mask{
	background: url("/mask1.png") center center / cover no-repeat !important;
	overflow:hidden;
}
